.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/bg.jpg");
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-top: 3em;
}

.main-content > h1 {
  font-size: 50px;
  font-weight: bolder;
}

#p1 {
  color: #95bf1d;
}

#p2 {
  margin-top: 1em;
}

#p2 > span {
  color: #95bf1d;
}

#button {
  background-color: #95bf1d;
  border-radius: 10px;
  border: none;
  outline: none;
}

.form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 2em;
  border-radius: 5px;
}

#close {
  align-self: flex-end;
  cursor: pointer;
}

.form-container > h1 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  width: 50%;
  margin: auto;
}


input,
select {
  border: 1px solid #adadad;
}

.waitform > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 1em;
  padding: 5px;
}

.form-submit {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }

  .main-content > h1 {
    font-size: 30px;
    font-weight: bolder;
    width: 90%;
  }

  .form-container {
    width: 90%;
  }

  .mobile-form {
    margin-top: 1em;
  }

  .mobile-form > p {
    font-size: 12px;
  }

  .waitform {
    width: 100%;
    margin-top: -8px;
  }

  .form-submit {
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    top: 7em;
    left: 0em;
    padding: 1em;
    border-radius: 10px;
  }

  .navlinksa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .navlinksa > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .navlinksa > p {
    margin-top: 10px;
    font-size: 12px;
  }

  #hamburger {
    cursor: pointer;
  }

  .logo {
    display: flex;
    align-items: center;
    text-align: left;
    width: 50%;
    margin-top: 1em;
    margin-left: 20px;
    gap: 20px;
  }
}

@media screen and (min-width: 769px) {
  #hamburger {
    display: none;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .navlinks > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }

  .navlinks > p {
    margin-top: 10px;
    font-size: 12px;
  }

  .main-content > h1 {
    width: 50%;
  }

  #p2 {
    width: 45%;
  }

  .mobile-form {
    display: none;
  }
}

/* Hamburger button */
.hamburger svg > *:nth-child(1),
.hamburger svg > *:nth-child(2),
.hamburger svg > *:nth-child(3) {
  transform-origin: center;
  transform: rotate(0deg);
}

.hamburger svg > *:nth-child(1) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 0.1s ease-in;
}

.hamburger svg > *:nth-child(2) {
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger svg > *:nth-child(3) {
  transition: y 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    width 0.1s 0.25s ease-in;
}

.hamburger.active svg > *:nth-child(1) {
  opacity: 0;
  y: 11;
  transform: rotate(225deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.1s 0.12s ease-out;
}

.hamburger.active svg > *:nth-child(2) {
  transform: rotate(225deg);
  transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.active svg > *:nth-child(3) {
  y: 11;
  transform: rotate(135deg);
  transition: y 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0.1s ease-out;
}
